extends layout

block content
  div.container-fluid
    div.row
      div.h1.col-9 GDQ Database Querizer
      div.col-3.middle-vert
        div.select-style.middle-vert
          select.middle-vert(align="center", onchange="selectEvent(this.value);")
            option(disabled, selected)="Select your event"
            for val in dbevents
              option=val.event + " " + val.year
  section
    div#tableData
