doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header GDQ Database Query
    
    block content

    footer 
      div.footer Created by 
        a(href='https://github.com/sillypears') sillypears
      div.footer Powered by 
        a(href='https://expressjs.com'): img(src='https://www.vectorlogo.zone/logos/expressjs/expressjs-icon.svg' width='20px' height='20px')
      div.footer Powered by 
        a(href='https://nodejs.org'): img(src='https://www.vectorlogo.zone/logos/nodejs/nodejs-icon.svg' width='20px' height='20px')

      
      